body {
    background-color: white;
    width: 768px;
    margin: 24px auto 24px auto; 
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin: 0px;
}

h3 {
    font-weight: 300;
    font-size: 1em;
    margin: 0px;
} 

p{
    font-weight: 600;
    margin: 0px;
} 

ul {
    list-style: none;
    margin: 0px;
    padding: 0px; 
}

a {
    text-decoration: none;
    color: black; 
    font-weight: 400;
    font-size: 1em;
    transition: color 0.3s;
}

a:hover {
    color: rgb(61,141,115); 
}

button {
    background-color: rgb(140,178,149); 
    border-radius: 0.25em;
    padding: 5px 8px 5px 8px; 
    border-style: none;
}

/*--------NAVBAR--------*/

.navbar-logo img {
    max-width: 100px; 
    padding: 8px 0px 8px 0px; 
}

/*----------------DESKTOP---------------*/
@media only screen and (min-width: 769px) and (max-width: 1020px) {

    body {
        background-color: #BEFFE4;
    }
}

/*----------------TABLET---------------*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    body {
        background-color: #A890E5;
    }
}

/*----------------MOBILE---------------*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

    img {
        max-width: 375px; 
    }

    .desktop {
        display: none;
    }

    /*--------NAVBAR--------*/
    .navbar-logo {
        padding: 0 0 0 24;
    }

    .navbar-logo img {
        max-width: 100px; 
        padding: 8px 0px 8px 0px; 
    }

    .navbar-container {
        background-color: rgb(210, 224, 215); 
        padding: 18px; 
    }

    .navbar-links li{
        margin: 8px;
    }

    .navbar-button{
        padding: 8px; 
    }

    .navbar-social-media-icons{
        margin: 8px; 
    }

    /*-------HOME - general--------*/
    .home-container {
        margin-bottom: 24px; 
    }

    .vegokartan-container, .svd-container, .starwinelist-container {
        background-color: rgb(210, 224, 215); 
    }

    .vegokartan-container p, .svd-container p, .starwinelist-container p{
        margin-top: 32px; 
    }

    .vegokartan-container img {
        height: 375px; 
    }

    .text-container {
        width: 0px auto;
        text-align: center;
        padding: 32px; 
        height: 275px; 
    }

    .starwinelist-img img {
        padding-top: 32px; 
        width: 120px; 
    }

    /*-------INSTAGRAM Section-------*/

    .instagram-section-container {
        margin-top: 24px 0px 16px 0px; 
        text-align: center;
        overflow: hidden;
    }

    .instagram-section-container h3 {
        color: rgb(76,190,222); 
    }

    /*-------MAP Section-------*/

    .map-section-container {
        background-color: rgb(238,233,208); 
        padding: 25px; 
    }

    .restaurant-info-container {
        background-color: white;
        width: 128px;
        padding: 25px; 
    }

    .restaurant-logo img {
        width: 100px;
    }

    .contact {
        width: 150px; 
        margin-top: 24px; 
    }

    /*-------FOOTER-------*/
    footer {
        padding: 0 32 32 32;  
    }

    .opening-hours {
        width: 150px; 
        margin-top: 24px; 
    }

    .footer-social-media-icons {
        padding: 10px 0px 10px 0px; 
    }

    .footer-logo img {
        width: 100px;
        margin-bottom: 32px;
    }

}
