body {
    max-width: 375px;
}

h3 {
    font-weight: 400;
    font-size: 1em;
} 

#header-logo img {
    width: 300px; 
}

#header-img img{
    width: 375px; 
}

#home-section {
    margin-bottom: 24px; 
}

#div-vegokartan, #div-svd, #div-starwinelist {
    background-color: rgb(210, 224, 215); 
}

.section-text {
    width: 0px auto;
    padding: 25px; 
    min-height: 275px; 
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 1em;
} 

p{
    font-weight: 600;
} 

#instagram-section {
    padding: 8px; 
    text-align: center;
}

.tba-js {
    background-color: rgb(218,208,238); 
}

#map-background {
    background-color: rgb(238,233,208); 
    padding: 25px; 
}

.restaurant-logo img {
    width: 100px;
}

.section-info {
    width: 150px; 
    background-color: white; 
    padding: 25px; 
}

#footer-logo img {
    width: 100px;
    padding-top: 24px; 
}